.errorFiles {text-align: left; padding: 5px;}
.main-col table {margin-bottom: 30px;}
div.main-header {border-bottom: 0;}
.main-header h2 {font-size: 16px;}
.btn-wide {width: 100px; margin: 0 10px;}
.modal .modal-content {padding-bottom: 20px;}
.confirm-text{font-weight: 700;}
div#mainContent {width: 900px; margin: auto;}
table.table a {vertical-align: baseline;}
#mainContent .table tr{height: 40px;}
.history-header {height: 50px;}
.history-row {height: 50px;}
table.table-backup > tbody > tr > th {font-weight: normal;}
