body {background: #434854;}
div .modal-dialog {width: 50%; margin-top: 10%;}
.modal-body table tr th {text-align: right;}
div.modal-header {position: relative;}
.modal-header strong {font-size: 18px; padding-left: 30px;}
