#dropMenu .col-left {padding-bottom: 0;}
#cardsContainer .row {min-height: calc(100vh - 160px);}
#cardsContainer .panel-heading {padding-right: 20px;}
#cardsContainer .panel-body {padding-bottom: 0px;}
#cardsContainer .instance-detail {height: 80px;}
#cardsContainer .instance-actions {padding: 20px 0 0 0;}
#cardsContainer .instance-logo {float: left;}
#cardsContainer .instance-logo img {width: 80px; height: 80px;}
#cardsContainer .instance-desc {float: left; padding-left: 20px; width: calc(100% - 80px);}
#cardsContainer .instance-desc {display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
#cardsContainer .instance-footer {height: 50px; padding: 10px 20px; font-size: 14px; font-weight: bold;}
#cardsContainer .instance-footer span {display: inline-block; margin: 0 10px;}
.input-group-btn {float: left;}
